apiVersion: v1
kind: Service
metadata:
  name: website
  namespace: aurigraph
  labels:
    app: website
spec:
  type: ClusterIP
  selector:
    app: website
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
  sessionAffinity: None
